{
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "jsxSingleQuote": false,
  "bracketSpacing": false,
  "arrowParens": "avoid",

  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
