{
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "jsxSingleQuote": false,
  "bracketSpacing": false,
  "arrowParens": "avoid",

  "importOrder": [
    "^@/components/(.*)$",
    "^@/utils/(.*)$",
    "^[./]",
    "^@/style/(.*)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
